# set sqlmesh-duckdb experiment

# git clone https://github.com/daniel-bartley/jaffle_shop.git
python -m venv .venv --prompt sqlmesh-bigquery
source .venv/Scripts/activate
python -m pip install --upgrade pip=24.0
python -m pip install --upgrade sqlmesh[bigquery,dbt,dev,web]
python -m pip install --upgrade pydantic
python -m pip install --upgrade dbt-bigquery

export USERNAME=developer_name
export GOOGLE_PROJECT_ID=my-google-project

dbt debug
dbt deps
sqlmesh init -t dbt
sqlmesh plan dev
